.color {
    color: #2a247a;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#generate-btn {
    background-color: red;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

#generate-btn:hover {
    background-color: darkred;
}

#motivation {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    border: 2px solid #2a247a;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 300px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
